
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Air-Canvas : Parul & Jaismeen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/stylee.css">
    </head>
    <body>
        <section>
            <div class = "image">
               <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
            </div>

            <div class = "content">
                <h2>Air Canvas</h2>
                <span><!-- line here --></span>
                <p>Air canvas helps to draw on a screen just by waiving your finger in the air. We will be using the computer vision techniques of OpenCV to build this
project. The preferred language is python due to its exhaustive libraries and easy to use syntax
but understanding the basics it can be implemented in any OpenCV supported language. We will
be using a colored object at tip of finger as the marker</p>
                <ul class = "links">
                    <li><a href = "/video">Get Started</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "/knowus">Get to know us!</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "/Contact">contact</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section><br><br>
    </body>
</html>
